<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru-ru">
    {% include head.html %}
    <body>
        <div id="wrapper">
            {% include body-header.html %}
            <div class="post">
                <div class="body">
                    {{ content }}
                </div>

                {% include post-footer.html %}
                {% include post-comments.html %}
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>